= render 'works/forms/form_from_field_list', :form => form,
  :field_list => [:author_name_strings, :title_primary, :title_secondary, :title_tertiary, :instrumentation, :publisher,
  :publication_place, :publication_date, :keywords, :abstract, :copyright_holder, :sponsor, :links, :identifier, :notes]
