= render 'works/forms/form_from_field_list', :form => form,
  :field_list => [:author_name_strings, :title_primary, :date_range, :publication_date, :keywords, :abstract, :links,
  :identifier, :notes]
