= render 'works/forms/form_from_field_list', :form => form,
  :field_list => [:author_name_strings, :contributor_name_strings, :title_primary, :title_secondary, :title_tertiary,
  :publication, :issn_isbn, :publisher, :publication_place, :publication_date, :start_page, :end_page, :language,
  :keywords, :abstract, :copyright_holder, :sponsor, :links, :identifier, :notes]
