= render :partial => 'works/forms/merge_form_from_field_list', :form => form,
  :field_list => [:title_primary, :title_secondary, [:author_name_strings, :authors], :publication_date, :publication,
  :publisher, :isbn_issn, :volume_issue, :pages, :keywords, :abstract]
