= render 'works/forms/form_from_field_list', :form => form,
  :field_list => [:author_name_strings, :contributor_name_strings, :title_primary, :title_secondary, :date_range,
  :publisher, :keywords, :abstract, :sponsor, :links, :identifier, :notes]
