= render :partial => 'works/forms/merge_form_from_field_list', :form => form,
  :field_list => [:title_primary, [:author_name_strings, :authors], :publication_date, :publication, :publisher,
  :volume_issue, :pages, :keywords, :abstract]
