= render 'works/forms/form_from_field_list', :form => form,
  :field_list => [:author_name_strings, :title_primary, :title_secondary, :title_tertiary, :links, :date_range,
  :publisher, :language, :keywords, :abstract, :copyright_holder, :sponsor, :notes]
