%ul.actions.clear-both
  %li=link_to_unless((@status.downcase == "member"), "#{t('models.membership', :count => 2)} (#{@person.groups.count})",
      new_membership_url(:person_id => @person.id, :status => 'member'))
  |
  %li=link_to_unless((!defined?(@query) && @status.downcase == "non_member"), "#{t('.all_groups')} (#{Group.count})",
      new_membership_url(:person_id => @person.id, :status => 'non_member'))