#picture.span-3
  %p= render :partial => "shared/person_image", :locals => {:o => @person}

%h3 Groups (#{@person.groups.size})
%ol.groups_alphabetical
  - @person.groups.each do |g|
    %li #{link_to "#{g.name}", group_path(g)}
