/ === Sessions === Cart ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    - if @citations.nil? || @citations.empty?
      %h2 Cart
      %p Nothing added yet.
    - else
      %ul#edit-actions
        %li=link_to_deletecart
      
      %h2 Cart
      - @citations.each do |citation|
        = render :partial => "shared/citation", :locals => {:citation => citation}