#names_field
  %label Name(s):
  = text_field_with_auto_complete :name_string, :name, {}, {:method => :get, :skip_style => true, :frequency => 0.5} 
  = link_to_remote "Add NameString to List", :url => { :action => :add_item_to_list}, :condition => "$('name_string_name').value.length > 0", :with => "'item_name=name_strings&item_value='+$F('name_string_name')+'&clear_field=name_string_name'"
  %ul#name_strings_list
    - if @name_strings
      - @name_strings.each do |ns|
        = render :partial => 'list_item', :locals => {:item_name => 'name_strings', :item_value => ns.name, :selected => true}