-# Add an Editor field, with Auto-Complete.
-# Also adds a list of existing Editors
#names_field
  %label Editor(s):
  = text_field_with_auto_complete :editor, :string, {}, {:method => :get, :skip_style => true, :frequency => 0.5} 
  = link_to_remote "Add Editor to List", :url => { :action => :add_item_to_list}, :condition => "$('editor_string').value.length > 0", :with => "'item_name=editor_name_strings&item_value='+$F('editor_string')+'&clear_field=editor_string'"
  %ul#editor_name_strings_list
    - if @editor_name_strings
      - @editor_name_strings.each do |ns|
        = render :partial => 'list_item', :locals => {:item_name => 'editor_name_strings', :item_value => ns.name, :selected => true}
    - elsif @citation.name_strings.editor
      - @citation.name_strings.editor.each do |ns|
        = render :partial => 'list_item', :locals => {:item_name => 'editor_name_strings', :item_value => ns.name, :selected => true}    