-# Publication field with Auto-Complete.
-# Also includes some special Javascript
-# to parse Publisher Name and ISSN/ISBN out
-# of the 'id', where they are separated by '~~'
-# (See publication_autocomplete_list template)
%script{ 'type' => "text/javascript" } 
  function populatePubFields(textbox, listitem) {
  var my_array = listitem.id.split('~~');
  var publisher = my_array[0];
  var issn_isbn = my_array[1];
  document.getElementById('publisher_name').value = publisher;
  document.getElementById('issn_isbn').value = issn_isbn;
  }
%p
  %label Periodical Title:
  = text_field_with_auto_complete :publication, :name, {:size => 40}, {:method => :get, :skip_style => true, :frequency => 0.5, :after_update_element => "populatePubFields"} 
  