%div{:class => "column span-24"}
  %div{:class => "column span-16"}
    - form_for :citation, @citation, :url => citation_path(@citation), :html => {:method => :put} do |form|
      = render :partial => "citations/forms/form_#{@citation.class.name.to_s.underscore}", :locals => { :form => form, :authors => @authors }