config/database.yml
config/ldap.yml
config/smtp.yml
config/solr.yml
config/sword.yml
config/locales.yml
config/personalize.rb
config/locales/personalize/*.yml
tmp/
public.old/
.svn
log/
vendor/bibapp-solr/data
vendor/solr/logs
doc/
coverage/
.idea/
public/attachments/
public/groups/
public/people/
public/tolk/
*~
config/solr.yml
config/smtp.yml
config/database.yml
