%h3 Who I'm Publishing With At UW
- if @people_coauths
  #groups
    %h4 Groups
    - if !@group_coauths.nil?
      %ol
        - @group_coauths.each do |group|
          %li
            = group.pub_count
            = link_to group.name, group_path(group.to_param)
    - else
      %p No groups yet.

  #people
    %h4 People
    - if !@people_coauths.nil?
      %ol
        - @people_coauths.each do |auth|
          %li
            = auth.pub_count
            = link_to(auth.display_name, person_path(auth))
    - else
      %p No coauthors yet.