%strong
  Edit: 
= link_to "Personal Info", edit_person_path(@person)
|
= link_to "Contributorships", contributorships_url(:person_id => @person.id)
| 
= link_to "Groups", new_memberships_url(:person_id => @person.id)
| 
= link_to "Pen Names", new_pen_names_url(:person_id => @person.id)