%rdf:Description{'rdf:about'=>person_url(person)}
  %rdf:type{'rdf:resource'=>"http://xmlns.com/foaf/0.1/Person"}
  %core:hasUNI{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}=person.uid
  %foaf:lastName{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}=person.last_name
  %foaf:firstName{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}=person.first_name
  -unless person.middle_name.blank?
    %core:middleName{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}=person.middle_name
  -unless person.research_focus.blank?
    %core:researchFocus{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}=h(person.research_focus)
  -unless person.email.blank?
    %core:workEmail{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}=person.email
  -unless person.phone.blank?
    %core:workPhone{'rdf:datatype'=>"http://www.w3.org/2001/XMLSchema#string"}=person.phone
  -person.works.each do |w|
    %core:authorInAuthorship{'rdf:resource'=>"#{work_url(w)}#Authorship"}


  