- results = params[:completed]
#admin-actions.span-24
= render :layout => 'layouts/main_body_no_h2' do
  = form_for :person, 'whather', :url => batch_csv_create_people_url, :html => {:class=>"work_form", :method => :post, :multipart => true} do |form|
    %fieldset.span-15

      - if results.present?
        %legend CSV Upload
        %p #{results}

      - else
        %legend Select a comma delimited file
        %p Select a CSV Comma delimited file for batch processing.

        = render 'shared/upload_form'