#sidebar
  %h3 Actions
  %ul.actions
    %li= link_to("add citations", :controller => "authorships", :action => 'create', :person_id => @person.id)
    %li= link_to("edit groups", new_membership_path(:person_id => @person.id))

#content
  =render :partial => "vcard", :locals => { :person => @person }
  .edit-form
    - form_for @person do |form|
      = render :partial => "form", :locals => { :form => form }