%div{:class => "column span-24"}
  %div{:class => "column span-22 prepend-1"}
    %h2="People (#{@people.size}) - #{link_to "Add", new_person_path}"
    
    = render :partial => "shared/alpha_pagination"
    
    %ol.people
      -@current_objects.each do |person|
        %li
          =link_to "#{person.name}", person_path(person)