/ === People === Index ===
/ Main
- @title="People" # Specify text at end of HTML <title> tag

/ #### Admin Actions ###
%div#admin-actions.span-24
  - if logged_in? && current_user.has_role?("editor")
    %ul#edit-actions
      %li=link_to "Add a Person", new_person_path

%div.span-24
  %div.span-22.prepend-1
    = render :partial => "shared/flash_messages"
      
  %div.span-22.prepend-1
    - if @page == ""
      %h2="People (All)"
    - else
      %h2="People (#{@page})"
    
    = render :partial => "shared/alpha_pagination"

    %ol#people
      -@current_objects.each do |person|
        %li.person
          =link_to "#{person.last_first}", person_path(person)