- include_stylesheets('specific/people/_ldap_result', 'specific/people/new')
- include_javascript('specific/people/new')
= render :layout => 'layouts/main_body', :locals => {:header => t('people.new.header')} do

  = render "shared/local_nav", :object => "person", :state => "new"

  = render 'ldap_search'

  = render 'form'
