/ === People === Show ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1", :style => "padding-bottom:3em;"}
    
    %h2
      ="#{@person.first_last}"
      %span=link_to "Edit", edit_person_path(@person)
    = render :partial => "shared/vcard", :locals => {:o => @person}

    %div{:class => "span-5"}
      %h3 Groups
      %ul
        - @person.groups.each do |g|
          %li=link_to g.name, group_path(g)
          
    %div{:class => "span-9 last"}
      %h3 Research Focus
      %p=@research_focus

  / Citations
  = render :partial => "shared/citation"

  / Facets
  %h3#filter Filter
  %div#facets{:class => "span-9 prepend-1 last"}
    = render :partial => "shared/facets"