/ === People === Show ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1", :style => "padding-bottom:3em;"}
    
    %h2
      ="#{@person.first_last}"
      %span=link_to "Edit", edit_person_path(@person)
      %span=link_to "Archive Analysis", archivable_contributorships_path(:person_id => @person.id)

    %div{:class => "span-21", :style => "padding:1.5em"}
      = render :partial => "shared/vcard", :locals => {:o => @person}

      %div{:class => "span-5"}
        %h3 Groups
        %ul
          - @person.groups.each do |g|
            %li=link_to g.name, group_path(g)
          
      %div{:class => "span-8 last"}
        %h3 Research Focus
        %p=@research_focus

  / Citations
  = render :partial => "shared/citations"

  / Facets
  %h3#filter Filter
  %div#facets{:class => "span-9 prepend-1 last"}
    = render :partial => "shared/facets"