<%= start_form_tag(:action => :results)%>
 
<%= text_field_tag :results %>


<%=end_form_tag%>

<%= observe_field(:results,
									:frequency => 0.5,
									:update => :search_results,
									:url => {:action => :results})%>


<div id="search_results"></div>