-#requires field and text to be passed. Optionally pass label, otherwise construct from field
- label ||= field.to_s.capitalize
.span-17
  .span-8
    %label.span-4 #{label}
    %p #{text}
  = text_field_tag(field, nil, :size => 40)
  %p= search_example(field)