.span-20.prepend-1
  %h4.error
    Sorry, your search for &ldquo;#{@query}&rdquo; came up empty.
    -if !@spelling_suggestions.empty?
      Did you mean:
      - @spelling_suggestions.each do |suggestion|
        %em.spelling-suggestion=link_to suggestion, search_url(:q => suggestion)
      ?
  %h4 Suggestions:
  %ul
    %li Double check your spelling.
    %li Try different keywords.
    %li Try our advanced search options.

  =render "advanced_search_form"