/ === Search === Index ===
/ Main
%div{:class => "span-24"}
  - if @q.nil?
    %div{:class => "span-22 prepend-1"}
      %p Search form here.
  - else
    %div{:class => "span-22 prepend-1"}
      %h2
        %em="#{@q.total_hits}"
        =" Results for:"
        %strong=" #{@query}"
      -if !@spelling_suggestions.empty?
        Did you mean:
        %ul#spelling-suggestions
          - @spelling_suggestions.each do |suggestion|
            %li
              %em=link_to suggestion, {:controller => "search", :q => suggestion }
      
    / Citations
    = render :partial => "shared/citations"

    / Facets
    %h3#filter Filter
    %div#facets{:class => "span-9 prepend-1 last"}
      = render :partial => "shared/facets"
