%h2 Search for People or Groups
  - form_tag( { :action => "index" }, { :method => "get" } ) do
    = text_field_tag :q
    = submit_tag "Go"

- if @people
  %ol.results.people
    - @people.each do |result|
      %li{ :class => cycle("odd", "even") }= link_to result.display_name, person_path(result.to_param)
    
- if @groups
  %ol.results.group
    - @groups.each do |result|
      %li{ :class => cycle("odd", "even") }= link_to result.name, group_path(result.to_param)


