%ul.actions
  %li=link_to "show", author_path(au)
  %li=link_to "edit", edit_author_path(au)
  %li=link_to "destroy",{:controller=>"authors", :action=>"destroy", :id=>au.id}, :confirm => "Are you sure?", :method => :delete