%ul.actions
  %li= link_to t('app.show'), publication_path(pub)
  %li= link_to t('app.edit'), edit_publication_path(pub)
  %li= link_to t('app.destroy'), {:controller=>"publication", :action=>"destroy", :id=>pub.id}, :confirm => t('app.are_you_sure'), :method => :delete