= render 'shared/pub_common/authority_form', :authorities => authorities,
  :submit_url => update_multiple_publications_path, :page => page,
  :headers => ['ISSN / ISBN', 'Publication Name', 'Publisher', 'Works']
