- if current_user_any_role?("editor", Group)
  = render :layout => 'layouts/admin_bar' do
    %li= link_to t('common.publications.delete'), publication_url(@publication), :method => :delete, :confirm => t('publications.edit.confirm')

= render :partial => 'form', :layout => 'layouts/main_body', :locals => {:header => t('common.publications.edit')}
