/ === Publications === Edit ===

- if logged_in? && current_user.has_role?("admin", @name_string)
  - content_for :admin_bar do
    / #### Admin Actions ###
    %div.span-24#admin-actions
      %ul#edit-actions
        %li=link_to "Delete this publication", {:id => @publication.id, :controller => "publications", :action => "destroy"}, :method => :delete, :confirm => 'Permanently delete this publication? This cannot be undone.'

/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    %h2 Edit this Publication
    
    = render :partial => 'form'