- if current_user_any_role?("editor", Group)
  = render :layout => 'layouts/admin_bar' do
    %li=link_to "Delete this publication", publication_url(@publication), :method => :delete, :confirm => 'Permanently delete this publication? This cannot be undone.'

= render :partial => 'form', :layout => 'layouts/main_body', :locals => {:header => 'Edit this Publication'}
