/ === Publications === Edit ===

- if logged_in? && current_user.has_any_role?("editor", Group)
  = render :layout => 'layouts/admin_bar' do
    %li=link_to "Delete this publication", publication_url(@publication), :method => :delete, :confirm => 'Permanently delete this publication? This cannot be undone.'

/ Main
.span-24
  .span-22.prepend-1
    %h2 Edit this Publication

    = render :partial => 'form'