/ === Publications === Index ===
/ Main
- @title="Publications" # Specify text at end of HTML <title> tag
%div.span-24
  %div.span-22#admin-actions
    - if logged_in? && current_user.has_role?("editor")
      %ul#edit-actions
        %li=link_to "Add a Publication", new_publication_path
        - if current_user.has_role?("admin", System)
          %li=link_to "Admin Publication Authorities", authorities_publications_path
    
  %div.span-22.prepend-1
    %h2="Publications"
    
    = render :partial => "shared/alpha_pagination"

    %table#publications
      %tr
        %th.span-9="Publication Name"
        %th.span-2="ISSN/ISBN"
        %th.span-9="Publisher"
        %th.span-1.last="Works"
      -@current_objects.each do |publication|
        %tr{:class => cycle("odd", "even")}
          %td=link_to publication.name, publication
          - if publication.issn_isbn.nil?
            %td
          - else
            %td=link_to publication.issn_isbn, publication
          %td=link_to link_to publication.publisher.name, publisher_path(publication.publisher)
          %td{:style => "text-align:right;"}=publication.works.length

    %br/
    %br/
    = render :partial => "shared/alpha_pagination"