/ === Publications === Show ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1" }
    %p=link_to "Return to Publication List", publications_url
    %h2 
      = @publication.name
      %span=link_to "Edit", edit_publication_path(@publication)
    %h4="Published by: #{link_to @publication.publisher.name, publisher_path(@publication.publisher)}"

  / Citations
  = render :partial => "shared/citation"

  / Facets
  %h3#filter Filter
  %div#facets{:class => "span-9 prepend-1 last"}
    = render :partial => "shared/facets"

    / Authority
    %div{:class => "span-9"}
      - if @publication.authority_for.size > 0
        %h3=@publication.name
        %p Authorized name for:
        %ul.authority-children
          - @publication.authority_for.each do |auth|
            %li=link_to auth.name, publication_path(auth)
      - else
        %h3 Authorized Title
        %p=link_to @publication.authority.name, publication_path(@publication.authority)