%li=link_to "Add a publisher", new_publication_path
%li=link_to "Update publisher authorities", authorities_publishers_path
%li=link_to "Update publisher data from SHERPA/RoMEO", admin_update_sherpa_data_url
