%li=link_to t('common.publishers.new'), new_publication_path
%li=link_to t('common.publishers.authority'), authorities_publishers_path
%li=link_to link_to t('common.publishers.sherpa'), admin_update_sherpa_data_url
