%li=link_to t('common.works.new'), new_user_import_path(current_user)
%li=link_to t('common.contributorships.verify'), admin_contributorships_path
%li=link_to t('common.works.duplicate'), admin_duplicates_url
%li=link_to t('app.archive'), admin_ready_to_archive_url
%li=link_to t('app.imports'), user_imports_path(@current_user)
