/ === Admin === Deposit via SWORD ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    %h2= "SWORD Deposit results:"

    - if @deposit
      %p.success Deposit was successful!    
      %fieldset
        %legend Deposit Information
        %div.field
          %label Title:
          %span.field_value=@deposit['title']
        %div.field
          %label URI of Deposited Item:
          %span.field_value
            =link_to @deposit['id'], @deposit['id']
        %div.field
          %label Treatment Deposited Item:
          %span.field_value=@deposit['treatment']
        %div.field
          %label Repository:
          %span.field_value
            =link_to "#{$REPOSITORY_NAME}", $REPOSITORY_BASE_URL
        %div.field
          %label Date Deposited:
          %span.field_value=@deposit['updated']
    =link_to "Return to Work", work_path(@work)