= render :layout => '/layouts/main_body', :locals => {:header => 'SWORD Deposit results:'} do
  - if @deposit
    %p.success Deposit was successful!
    %fieldset
      %legend Deposit Information
      .field
        %label Title:
        %span.field_value=@deposit['title']
      .field
        %label URI of Deposited Item:
        %span.field_value
          =link_to @deposit['id'], @deposit['id']
      .field
        %label Treatment Deposited Item:
        %span.field_value=@deposit['treatment']
      .field
        %label Repository:
        %span.field_value
          =link_to "#{$REPOSITORY_NAME}", $REPOSITORY_BASE_URL
      .field
        %label Date Deposited:
        %span.field_value=@deposit['updated']
  =link_to "Return to Work", work_path(@work)