/ === Admin === Duplicates ===
/ Main
- @title="Duplicate Works" # Specify text at end of HTML <title> tag
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}

    %h2="Duplicate Works"
    %div#results{:class => "span-22"}
      / Facets
      = render :partial => "shared/facets"

      / Works 
      = render :partial => "shared/works", :locals => {:links_array=>[:edit], :show_status => true, :show_dupes => true}