/ === Admin === Index ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    / Flash notice
    - if flash[:notice]
      %div#flash= flash[:notice]
      
    %h2 Administrative Tasks:
    %ul#tasks
      %li
        = link_to "Prepare files for archiving", :action => "ready_to_archive"
      %li
        = link_to "Verify/Deny contributorships", admin_contributorships_path