/ === Admin === Ready to Archive ===
/ Main
= render :layout => 'layouts/main_body',
  :locals => {:header => "Ready to Archive: #{@works.size} remain"} do
  - if @works.size > 0
    = render "works"
  - else
    %p
      No works are marked "ready to archive"!