/ === Admin === Ready to Archive ===
/ Main
%div{:class => "span-24"}
  %div.span-22.prepend-1
    %h2=t('admin.archive.ready', :count => @works.size)
    - if @works.size > 0
      = render :partial => "works"
    - else
      %p=t('admin.archive.no_works')