/ === Admin === Ready to Archive ===
/ Main
%div{:class => "span-24"}
  %div.span-22.prepend-1
    %h2="Ready to Archive: #{@works.size} remain"
    - if @works.size > 0
      = render :partial => "works"
    - else
      %p 
        No works are marked "ready to archive"!