/ === Admin === Update SHERPA Data ===
/ Main
- @title="Update SHERPA Data" # Specify text at end of HTML <title> tag
= render :layout => '/layouts/main_body', :locals => {:header => 'Update SHERPA Data'} do
  %p Publisher records will be <strong>replaced</strong> with those retrieved from SHERPA/RoMEO; local changes may be lost.
  %p SHERPA data may take several moments to load.

  = button_to "Update Publishers", :action => :update_publishers_from_sherpa