/ === Admin === Update SHERPA Data ===
/ Main
- @title = "Update SHERPA Data" # Specify text at end of HTML <title> tag
= render :layout => '/layouts/main_body', :locals => {:header => t('admin.sherpa.update')} do
  %p=t('admin.sherpa.info1')
  %p=t('admin.sherpa.info2')

  = button_to t('admin.sherpa.update'), :action => :update_publishers_from_sherpa
