/ === Users === Index ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    - if flash[:notice]
      %div.success= flash[:notice]
      
  %div{:class => "span-22 prepend-1"}
    %h2="Users (#{@page.upcase})"
    
    = render :partial => "shared/alpha_pagination"

    %ol.users
      -@current_objects.each do |user|
        %li.user
          =link_to "#{user.login}", user_path(user)