-# Abstract field
-#
-# Possible Input Variables:
-#    :form         => current form (REQUIRED)
-#    :dupe         => duplicate work (REQUIRED)

%td
  = form.label :abstract, "Abstract:"
  %br/
  = form.text_area :abstract, :class=>'text'
%td.duplicate
  = label_tag 'dupe_abstract', "Abstract:"
  %br/
  = text_area_tag 'dupe_abstract', dupe.abstract, {:class=>'text'}