-# Form submit buttons
-#  Uses form styles from Blueprint
%p.buttons
  = submit_tag "Save Accepted Work and Delete Duplicate", :disable_with => "Saving...", :class=>"button positive"
  = submit_tag "Cancel", :name => "cancel", :class =>"button negative"