%ul.actions
  %li=link_to t('app.show'), work_path(c)
  %li=link_to t('app.edit'), edit_work_path(c)
  %li=link_to t('app.destroy'), {:controller=>"works", :action=>"destroy", :id=>c.id}, :confirm => t('app.are_you_sure'), :method => :delete