%ul.actions
  %li=link_to "show", work_path(c)
  %li=link_to "edit", edit_work_path(c)
  %li=link_to "destroy", {:controller=>"works", :action=>"destroy", :id=>c.id}, :confirm => "Are you sure?", :method => :delete