- if @work.tags.size > 0
  %div.field
    %label #{Tag.human_name(:count => @work.tags.size)}:
    - @work.tags.each do |tag|
      %a{:href => search_path(:fq => tag_filter(tag), :qt => "standard") }= tag.name