- if @work.tags.size > 0
  %div.field
    %label
      = pluralize(@work.tags.size, "Tag: ", "Tags: ")
    - @work.tags.each do |tag|
      %a{:href => search_path(:fq => tag_filter(tag), :qt => "standard") }= tag.name