- if @work.tags.size > 0
  %div.field
    %label
      = pluralize(@work.tags.size, "Tag: ", "Tags: ")
    - @work.tags.each do |tg|
      - filter = 'tags:' + '"' + tg.name + '"'
      %a{:href => search_path(:fq => filter, :qt => "standard") }= tg.name