!!! XML
%RDF{:xmlns=>"http://www.w3.org/1999/02/22-rdf-syntax-ns#", 'xmlns:j0'=>"http://purl.org/ontology/bibo/", 'xmlns:j1'=>"http://xmlns.com/foaf/0.1/", 'xmlns:owl'=>"http://www.w3.org/2002/07/owl#", 'xmlns:xsd'=>"http://www.w3.org/2001/XMLSchema#", 'xmlns:j2'=>"http://vivoweb.org/ontology/core#", 'xmlns:j3'=>"http://vitro.mannlib.cornell.edu/ns/vitro/0.7#", 'xmlns:rdfs'=>"http://www.w3.org/2000/01/rdf-schema#"}
  -@works.each do |w|
    -work = Work.find(w['pk_i'])

    = render :partial => "package", :locals => {:work => work} if work

  -if @has_next_page
    -@page = @page == 0 ? 1 : @page
    %link{:rel => "next", :href => "#{works_url()}.rdf?page=#{@page.to_i+1}"}