- include_javascripts('specific/works/autocomplete', 'specific/works/common_edit_create')
= render :layout => '/layouts/main_body', :locals => {:header => t('works.merge_duplicates.header')} do
  - unless @work.accepted?
    - flash[:notice]  = t('.flash_not_accepted', :work_status => t_work_status(@work.work_state_id))
  - else
    - possible_dupes = Index.possible_unaccepted_duplicate_works(@work)
    - if possible_dupes.exclude?(@dupe)
      - flash[:notice] = t('.flash_excluded', :work => @dupe)
    - else
      %p
        = t('works.merge_duplicates.instructions')
      = render 'merge_work_form'
