= render :layout => 'layouts/main_body', :locals => {:header => t('works.shared.header')} do
  - @authors.each do |author|
    %h3 #{link_to author.name, person_url(author)}
  %hr
  = render 'shared/proper_works'
