/ Authors
=link_to_work_authors(c, true)

/ Year
-if c.publication_date != nil
  %span.year="(#{c.publication_date.year}). "
  
/ Title
%span.title="#{c.title_primary}. "

/ Publication
%span.publication=link_to "#{c.publication.name}", publication_path(c.publication.to_param)
