<h1>Editing authorship</h1>

<%= error_messages_for :authorship %>

<% form_for(@authorship) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @authorship %> |
<%= link_to 'Back', authorships_path %>
