-# requires klass and form
-# accepts legend or computes it from klass
- legend ||= @work.class.human_name
%fieldset
  %legend #{legend}

  = hidden_field_tag :klass, @work.class.to_s
  = render 'works/forms/fields/form_buttons', :form => form

  %ul
    = yield
