-# requires to be passed: type (klass for the form), form (the form being acted upon)
-# may take hidden_fields, a hash for additional hidden fields
- hidden_fields ||= {}
%table#accepted_work.span-22
  %tr
    %td.span-8.duplicate
      %h3 Duplicate work
    %td.span-12
      %h3 Accepted work
  = yield

= hidden_field_tag :type, type.to_s
- hidden_fields.each do |k, v|
  = hidden_field_tag k, v
= render 'works/forms/fields/form_buttons', :form => form
