/* Citations should look good */
li.book-whole span.article-title { font-style: italic; }
li.nlm-citation { list-style:none; }
span.reftype { font-size:1.3em; font-weight:bold; }
span.source { font-style: italic; }