/* Major structural items, render order */
* { margin:0px; padding:0px; }
body { background-color:#fff; font-family: Georgia, "Times New Roman", Times, serif; font-size: .9em; line-height: 1.5em; }
body * { font-size: 100%; }
#wrapper { width: 90%; margin-left: auto; margin-right: auto; border: 1px solid #ccc; }
#main { padding: 0 1em; }
#main { width: 100%; float:left; }
#content { margin-top: .5em; width:60%; }
#sidebar { float:right; width:350px; border-left:1px solid #ccc; padding:.5em .5em 0 .5em; margin-right:1em; }
#sidebar .results {list-style:none;}
#footer { margin-top: 2em; font-size: .8em; float: left; width: 100%; border-top: 2px solid #ccc; background-color:#E8EBF0; }
#footer img { padding-bottom:20px; }
#footer p { padding:1em; line-height:1.5em; }
#footer-nav li { display:inline; }


/* IDs, alpha */
#admin { clear:both; float:left; }
#archive-list div { font-size: .9em; margin-left: 10em; }
#archive-list form { display: inline; margin-left: 5em; }
#archive-list h3 { float: left; text-align: right; width: 3em; padding: .5em; border: 1px solid #E8EBF0; }
#archive-list li { clear: left; list-style: none; width:45em; }
#archive-list span.buttons { margin-left: 8em; }
#coauthorships { float:left; width:95%; }
#coauthorships ol { list-style: none; }
#coauthorships #groups { float:right; width:45%; padding-right:6em; }
#coauthorships #people { float:left; width:30%; } 
#contact h2 { padding-left:0; }
#contact img { border:0; padding:0; margin-top:1em; }
#content .graph { padding:.25em; margin-bottom:.5em; border:2px dashed #ccc; float:right; }
ol#current, ol#inactive { margin-left: 0; list-style: none; }
#departments li { list-style:none; width: 100%; padding: 1.5em 1em .5em 1em; }
#departments ol { border: 1px solid #ccc; }
#department-people { padding-top: 1em; float: left; width: 37%; min-width: 300px; }
#edit-actions { float:left; width:20%; }
#edit-contact { float:left; width:45%; border-left:1px solid #ccc; border-right:1px solid #ccc; padding:1em; }
#edit-contact .vcard { background:#EAEEAE; padding:1.5em; }
#expert-find { margin: .5em auto; }
#graph { padding:.25em; margin-right:2em; margin-bottom:1em; border:2px dashed #ccc; float:right; }
#group-member-list { width: 100%; }
#group-members { float: left; width: 40%; }
#group-popular { float:right; width:50%; padding-right:2em; }
#group-selector { float: left; width: 22em; }
#group-tagcloud { float: left; width: 100%; line-height: 190%; }
#group-tagcloud a { margin: auto .25em; text-decoration: none; }
#group-tagcloud a:hover { color: #007; }
#group-tagcloud ol { list-style:  none; padding-bottom:2em; }
#header h1{ padding: 2em 0 1em 1em; border-bottom:2px solid #ccc; background-color: #E8EBF0; }
#header sup{ color:#6886B4; }
ol#inactive { color: #999; }
#instructions li { display:inline; font-size: 2em; }
#last10{ float: left; padding-top: 1.5em; padding-right: 1em; }
#last10 li { font-size: 12px; line-height: 1em; }
#left { float:left; }
div#legend { float:right; width:40%; }
div#legend a img{ clear:right; float:left; }
ul#nav { float: right; position: relative; left: 1px; }
ul#nav li { padding: 0 1em; border-right:1px solid #ccc; float: left; display: block; }
#pagination { margin:.5em; font-size:3em; float:left; }
#person { float:left; width:100%; margin-bottom:1em; }
#person img { float:left; }
#person-selector { float: left; width: 20em; }
#picture { width:100%; }
#popular { margin-top: 1em; line-height: 1.5em; font-size: .9em; }
#popular #authors { margin-top: 1em; float: left; }
#popular #authors .photo { padding: 1px; border: 1px dashed #ccc; }
#popular #journals { float: left; clear: left; }
#popular #publishers { float: left; padding-left: 3em; }
#popular #subjects { float: left; }
#popular-left { float: left; width: 40%; }
#popular-right { padding-left: 1em; float: left; width: 40%; border-left:1px solid #ccc; }
#recent-publications li { list-style: none; line-height: 1.3em; margin-top: .25em; margin-bottom: .25em; padding: .25em; }
#recent-publications li .metadata { font-size: 90%; margin-left: 1em; }
#save { float:right; }
#search { width:35%; padding:1em 1em 1em 1em; background-color:#eee; }
#user-info { float: right; margin-right:2em; margin-top:1em; }
#vcard-metadata { display:block; float:left; margin-left:1em; }
#work { float:left; width:95%; }
#work h3 { padding-top: .5em; }
#work a img { padding:0 1em, 1em, 1em; border:0; text-decoration: none; }


/* Classes, alpha */
.admin { display:inline; }
.article-title { font-style:normal; }
.citation { padding-left:2em; padding-bottom:.75em; }
.citation li { list-style:none; }
.citations { padding-top:.5em; width: 95%; list-style:none; }
ol.citations-archive { width:95%; text-indent: -1.5em; margin-left:1em; }
ol.citations-archive li.journal span.source { font-style:italic; }
ol.citations-archive li.nlm-citation { margin-bottom:0.5em; font-size:.8em; list-style:none; }
.clear { clear:both; }
.clearer { clear: both; }
ul.dept-meta { padding-left: 15em; }
ul.dept-meta li { list-style: none; display: inline; }
div.detailed-citation-analysis { margin:1em, 1em, 1em, 0; width:55%; border-top:1px solid black; }
.edit-form { width:100%; margin-top:1.5em; padding:.5em, 0, 0, 1em; float:left; }
.error-assistant { color:#FF0000; font-weight:bold; }
.even { background-color:#E8EBF0; }
.feeds { text-decoration:none; border:0; }
.hide { display:none; }
h4.journal { padding:0.25em; font-style:italic; font-size:.9em; }
table.legend { float:right; border: 2px solid #666; border-collapse: collapse; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; width: 100%; margin-bottom:1em; }
.legend td { font-weight: normal; font-size: small; border-left: 1px solid #bbb; border-bottom: 1px solid #edf3fe; }
.legend thead, .legend td { padding: 4px; }
.legend thead { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; border-bottom: 1px solid #bbb; border-left: 1px solid #bbb; background-image: url(../images/thgradient.gif); background-position: top; background-repeat: repeat-x; background-color: #cfddf7; }
.legend thead td { font-weight: bold; font-size:normal; }
.legend tfoot td { font-weight: bold; font-size:normal; }
.meta { padding:.5em; font-size: .9em; }
.meta a { padding: .15em; }
span.meta { font-size: x-small; }
li.person { padding: .15em; list-style: none; clear: left; float: left; width: 100%; }
.photo { padding:.25em; margin-top:1em; margin-right:1em; margin-bottom:1em; border:2px dashed #ccc; float:left; }
ol.popular { list-style:none; }
.positions { list-style: square; font-size: 90%; padding: 0; line-height: .75em; }
.positions .title { margin-left: 1.25em; }
.pre { margin: 1em; padding: 1.5em; border: 1px solid black; background-color: #eee; font-family: Times, Arial; font-size: 12px; }
h3.publisher { padding:0.25em; font-size:1.2em; border-bottom:1px dashed black; }
.result li { display: inline; }
table.results { clear: both; border: 2px solid #666; border-collapse: collapse; font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; margin-top: 2em; margin-bottom:1em; width: 100%; margin-left: auto; margin-right: auto; }
.results thead { font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif; border-bottom: 1px solid #bbb; border-left: 1px solid #bbb; background-image: url(../images/thgradient.gif); background-position: top; background-repeat: repeat-x; background-color: #cfddf7; }
.results thead, .results td { padding: 4px; }
.results thead td { font-weight: bold; font-size:normal; }
.results td { font-weight: normal; font-size: small; border-left: 1px solid #bbb; border-bottom: 1px solid #edf3fe; }
.text h3 { padding:1em; }
.text address { text-decoration:none; padding:0.5em; }
.vcard { width:95%; float:left; }
.vcard a img { margin-right:.5em; border:0; float:left; }
.vcard-download { clear:left; float:left; border:0; }