/* Single elements */
h1 a { font-size:2.25em; color:#970F00; text-decoration: none; }
h1 a:visited { color: #970F00; text-decoration: none; }
h2 { font-size:1.75em; padding-bottom:1em; }
h3 { font-size: 1.5em; font-weight: normal; padding:.25em 0 .5em 0; }
h4 { padding:.5em 0 .5em 0; }
li { padding:.15em; }
p { margin-bottom:.5em; }
ol { padding:.5em	; }
ul { margin-left:1em; padding-bottom:1em; }

/* Sherpa */
.green { background-color:#D0F9D2; }
.blue { background-color:#D3ECFA; }
.yellow { background-color:#FFFFDF; }
.white { background-color:#FFFFFF; }
.unknown { background-color:#E6E6E6; }

/* tag cloud */
#group-tagcloud { padding-top: 1em; float: right; width: 100%; line-height: 200%; margin-bottom: 3em;}
#group-tagcloud a { margin: auto .25em; text-decoration: none; }
#group-tagcloud a:hover { color: #009; }
#group-tagcloud ol { list-style:  none; padding-bottom:2em; }

.nube1 {font-size: 0.8em; color: #55e;}
.nube2 {font-size: 1.0em; color: #22e;}
.nube3 {font-size: 1.2em; color: #11e;}
.nube4 {font-size: 1.4em;}
.nube5 {font-size: 1.6em;}
.nube6 {font-size: 1.8em; color: #00c;}

/* timeline tagcloud */
#timeline-tagcloud li { margin: .25em; list-style: none; line-height: 1.1em; display: inline; }
#timeline-tagcloud ul { display: none; }
#yearnav { margin-bottom: 2em; position: relative; }
#yearnav .handle { font-size: 75%; display: inline; background-color:#911; color:#fafaf0; cursor: move; top: -8px; }
#yearnav .track { position: absolute; left: 6em; top: 1em; }

.bin1 { font-size: .75em; color: #666; }
.bin2 {font-size: 1.25em; color: #444; }
.bin3 {font-size: 1.75em; color: #333; }
.bin4 {font-size: 2.25em; color: #222; }
.bin5 {font-size: 2.75em; color: #111; }
