#menu {
	display: none;
	}

a {
	text-decoration:none;
	color:black;
}
#wrapper, #content {
	width: auto; 
	margin: 0;
	padding: 0; 
	border: 0;
	float: none !important;
	color: black; 
	background: transparent;
	}
	
body {
	background: white;
	font-size: 12pt;
	}

div#sidebar {display:none;}	
div#content {
font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
	

div#header {
	display:none;
}

#footer {
	font-size: .8em; 
	padding: 1.5em; 
	float: left; 
	width: 100%;
	border-top: 2px solid #ccc;
}

ul#footer-nav{
	display:none;
}

/* citation analysis */

.green { background-color:#D0F9D2; }
.blue { background-color:#D3ECFA; }
.yellow { background-color:#FFFFDF; }
.white { background-color:#FFFFFF; }
.unknown { background-color:#E6E6E6; }

table {
    border: 2px solid #666;
    border-collapse: collapse;
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    width: 85%;
	margin-bottom:1em;
}


thead, td {
    padding: 4px;
}

thead {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #bbb;
    background-image: url(../images/thgradient.gif);
    background-position: top;
    background-repeat: repeat-x;
    background-color: #cfddf7;
}

thead td {
	font-weight: bold;
	font-size:normal;
}

tfoot td {
	font-weight: bold;
	font-size:normal;
}

td {
    font-weight: normal;
    font-size: small;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #edf3fe;
}



/* Archive analysis */

div#graph {
	display:none;
}
a img {
	display:none;
}

div#detailed-analysis {
	margin-top:1em;
	width: 80%;
}

h3.publisher {
border-top:2px solid #666;
border-bottom:2px solid #666;
page-break-after:avoid;
}

h4.journal {
page-break-after:avoid;
}

/* Citations */

ol.citations {
	width:95%;
	text-indent: -1.5em;
}

ol.citations li.journal span.source {
	font-style:italic;
}

ol.citations li.nlm-citation {
	margin-bottom:0.5em;
	font-size:.8em;
	list-style:none;
}

ol.citations h4 {display:none;}
ol.citations div.admin {display:none;}
ol.citations div.links {display:none;}
ol.citations div.tags {display:none;}