%ol#inactive
  - if (@suggestions - @person.name_strings).size < 1
    #{t '.no_suggestions'}:
    %strong= "#{@person.last_name}"
  - else
    = render :partial => "name_string", :collection => @suggestions - @person.name_strings(true), :locals => { :person => @person, :selected => false }
