%fieldset
  %legend="Author"
  - form_for @author do |form|
    %p
      %label="Name"
      %br/
      = form.text_field :name
    %p
      %label Author Authority Record
      %br/
      = form.collection_select :authority_id, @author_authorities, :id, :name
    %p.submit
      = submit_tag :save