digraph <%= @group.name.gsub(" ", "")%> { <br />
	node [style = filled]; <br />
	<% @group.people_who_have_published.each do |p| -%>
		"<%= p.display_name -%>" [color=deepskyblue];<br />
	<% end -%>
	
	
	<br />
	<% @coauthorships.each_key do |k| %>
		"<%= k -%>" -> {
			<% coauths = @coauthorships.values_at(k).flatten!
			coauths.each do |co|
			%>
			"<%= co %>";
			<% end %>
		} <br />
	<% end %>
}