/ === Groups === Edit ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    / Flash notice
    - if flash[:notice]
      %div#flash= flash[:notice]
      
    %h2="Edit #{link_to @group.name, group_path(@group)}"
    
    %h5=link_to "Remove Group", {:id => @group.id, :controller => "groups", :action => "hide"}, :confirm => 'Are you sure?'
    
    %div{:class => "column span-16"}
      - form_for :group, @group, :url => group_path(@group), :html => {:method => :put} do |form|
        = render :partial => 'form', :locals => { :form => form }