- if current_user_role?("editor", System)
  = render :layout => 'layouts/main_body', :locals => {:header => "Hidden Groups"} do

    - if @hidden_groups.empty?
      %p No hidden groups

    = render 'group_table', :groups => @hidden_groups

    %br/
    %br/
