= render :layout => 'layouts/main_body', :locals => {:header => 'Add a Group'} do
  = form_for @group, :as => :group, :url => groups_url, :html => {:method => :post} do |form|
    = render :partial => 'form', :locals => { :form => form }