= render :layout => 'layouts/main_body', :locals => {:header => t('groups.new.header')} do
  = form_for @group, :as => :group, :url => groups_url, :html => {:method => :post} do |form|
    = render 'form', :form => form