%ol#alpha-nav.pagination
  = content_tag :li, link_to("All", {:page=> ""}, :class => "all")
  - ('A'..'Z').each do |letter|
    - current = false
    - if letter == @page
      - current = true
      = letter_link_for(@a_to_z, letter, current)
    - else
      = letter_link_for(@a_to_z, letter, current)