- include_stylesheet('specific/shared/_alpha_pagination')
%ol#alpha-nav.pagination
  - path ||= nil
  - numbers ||= nil
  - alpha_pagination_items(numbers).each do |item|
    = letter_link_for(@a_to_z, item, item == @page, :path => path)
