- include_stylesheet('specific/shared/_alpha_pagination')
%ol#alpha-nav.pagination
  - path ||= nil
  -# @TODO: make this DRY and move it into application_helper.rb
  - numbers ||= nil
  - if numbers
    - ('0'..'9').each do |letter|
      - current = false
      - if letter == @page
        - current = true
        = letter_link_for(@a_to_z, letter, current, :path => path)
      - else
        = letter_link_for(@a_to_z, letter, current, :path => path)     
      
  - ('A'..'Z').each do |letter|
    - current = false
    - if letter == @page
      - current = true
      = letter_link_for(@a_to_z, letter, current, :path => path)
    - else
      = letter_link_for(@a_to_z, letter, current, :path => path)
        
 