-#
-# Render Single Citation from Solr data
-#
%li.citation
  %div.screen-format
    %strong=link_to "#{citation['title']}", citation_path(citation['pk_i'])
    %p.metadata 
      - citation['name_strings_data'].first(5).each do |ns|
        - name, id = NameString.parse_solr_data(ns)
        =link_to "#{name}", name_string_path(id), {:class => "name_string"}
      - if citation['name_strings'].size > 5
        =link_to "more...", citation_path(citation['pk_i'])
      %br/
      - pub_name, pub_id = Publication.parse_solr_data(citation['publication_data'])
      =link_to "#{pub_name}", publication_path(pub_id), {:class => "source"}
      -if citation['publication_date'] != nil
        ="(#{citation['publication_date']})"

    .links
      =link_to_findit(citation)
      | 
      - if !@cart.nil? && !@cart.items.nil?
        - if @cart.items.include?(citation['pk_i'].to_i)
          =link_to_remove_from_cart(citation['pk_i'])
      - if @cart.nil? || !@cart.items.include?(citation['pk_i'].to_i)
        =link_to_add_to_cart(citation['pk_i'])
      
