%ul.contributorship_actions_list{:id => "contributorship_actions-#{contribution.id}"}

  %li.inline= link_to(t('shared.contribution_actions.verify'), verify_contributorship_path(contribution.id), :method => :put)
  |
  %li.inline= link_to(t('shared.contribution_actions.deny'), deny_contributorship_path(contribution.id), :method => :put)