%ul{:id => "contributorship_actions-#{contribution.id}", :class => "contributorship_actions_list"}

  %li{:class => "inline"}=link_to("Verify", verify_contributorship_path(contribution.id), :method => :put)
  |
  %li{:class => "inline"}=link_to("Deny", deny_contributorship_path(contribution.id), :method => :put)