-#
-# Render Information about the Work
-# which the current work is a duplicate of
-#
-# 
  
-# Get listing of all possible duplicates from Solr
- dupes = Index.possible_duplicates(work)

/ Duplicate candidates
%div.duplicate_box
  %div.duplicate_box_heading="Duplicate of these accepted works"
  - dupes.each do |dupe|
    - w = Work.find(dupe['pk_i'])
    =link_to w, work_path(dupe['pk_i'])
    %h5.metadata{:style=>"font-size:0.75em;padding:0;margin:0;color:#999"}=dupe['type']
