%div#facets{:class => "span-6 append-1"}
  %h3#filter Filters
  - if !@filter.empty?
    %h4
      ="Remove Filters: "
      - @filter.each do |f|
        =remove_filter(@query,@sort,@filter,f)

  / Groups
  %h4.heading Groups
  %ol.filters.groups
    -@facets[:groups].first(5).each do |p|
      %li
        =add_filter(@query,@sort,@filter,"year_facet",p.name,p.value)

  / People
  %h4.heading People
  %ol.filters.people
    -@facets[:people].first(5).each do |p|
      %li
        =add_filter(@query,@sort,@filter,"year_facet",p.name,p.value)

  / Years
  %h4.heading Years
  %ol.filters.years
    -@facets[:years].first(5).each do |p|
      %li
        =add_filter(@query,@sort,@filter,"year_facet",p.name,p.value)

  / Publications
  %h4.heading Publications
  %ol.filters.publications
    -@facets[:publications].first(5).each do |p|
      %li
        =add_filter(@query,@sort,@filter,"year_facet",p.name,p.value)