- if flash.present?
  #flash-message.span-22
    - if flash[:notice]
      .notice= flash[:notice]

    - if flash[:warning]
      .warning= flash[:warning]

    - if flash[:error]
      .error= flash[:error]