-#
-# Render 'flash' messages consistently throughout application
-#

/ Flash Messages
- if flash[:notice]
  %div.notice= flash[:notice]

- if flash[:warning]
  %div.warning= flash[:warning]

- if flash[:error]
  %div.error= flash[:error]