#footer{:class => "span-24"}
  %div{:class => "span-23 prepend-1"}
    %p
      %a{:href => "http://code.google.com/p/bibapp/", :style => "text-decoration:none;"}
        %font{:style => "font-size:1.5em"}
          BibApp &hearts;'s you
    %p
      %strong
        %a{:href => $UNIVERSITY_URL}= $UNIVERSITY_FULL_NAME 
        | 
        %a{:href => $LIBRARY_URL}= $LIBRARY_NAME
      %br/
      = $UNIVERSITY_FULL_ADDRESS
