#footer
  %p
    %strong Office of Scholarly Communication &amp; Publishing
    %br/
    215 N. Randall Avenue Madison, WI 53706-1494 | Phone: 608.890.0787
    %br/
    &copy; 2007 Board of Regents of the University of Wisconsin System