#footer{:class => "span-24"}
  %div{:class => "span-23 prepend-1"}
    %p
      %strong
        %a{:href => $UNIVERSITY_URL}= $UNIVERSITY_FULL_NAME 
        | 
        %a{:href => $LIBRARY_URL}= $LIBRARY_NAME
      %br/
      = $UNIVERSITY_FULL_ADDRESS
      %br/
      &copy; 2008 Board of Regents of the University of Wisconsin System
      %p
        %a{:href => "http://code.google.com/p/bibapp/"}Eat &#151; Drink &#151; BibApp