-#
-# Render Group facets from Solr data
-#
%div{:class => "span-6"}
  %h3.heading Groups
  %ol#groups
    -# if there's a count specified, only show the first few
    -groups = count!=nil ? @facets[:groups_data].first(count) : @facets[:groups_data]
    -groups.each do |g|
      - name, id = Group.parse_solr_data(g.name)
      %li
        =link_to name, group_path(id)
        ="(#{g.value})"