- m = Membership.find_by_person_id_and_group_id(@person.id, group_list_item.id)
- if m and !group_list_item.hide?
  %li.parent
    %strong=link_to m.group.name, group_path(m.group)
    - if m.title
      %span
        &ndash;
        %em #{m.title}

    - unless m.group.children.empty?
      %ul.children
        = render :partial => 'shared/group_list_item', :collection => m.group.children
- else
  = render :partial => 'shared/group_list_item', :collection => group_list_item.children