-include_stylesheet('specific/shared/_group_list')
-include_stylesheet('specific/shared/_group_list_item')
#memberships
  %ul
    = render :partial => 'shared/group_list_item', :collection => @top_level_groups