%div{:class => "span-6"}
  %h3.heading Groups
  %ol.groups.facets        
    -active = Array.new
    -@facets[:group_id].each do |g|
      - group = object_by_facet_id(g.name)
      - if group.hide != true
        - active << [group, g.value]
    -active.first(15).each do |group, value|
      %li
        =link_to group.name, group_path(group)
        ="(#{value})"
    %li=link_to "More...", groups_path