%ul#global-nav
  %li
    %a{:href => "/about"} About
  %li
    %a{:href => "/faq"} FAQ
  - if logged_in?
    %li
      %span #{link_to "Account", edit_user_path(current_user)}
    -if current_user.person
      %li
        %span #{link_to "Profile", edit_person_path(current_user.person)}
    %li
      %span #{link_to "Logout", logout_path}
  - else
    %li
      %span #{link_to "NetID Login", '/auth/shibboleth'}
    %li
      %span=link_to "Login | Sign Up", login_path(:return_to => request.fullpath)
