%div#local-nav
  - if object == "person"
    - if defined?(state) && state == "new"
      %ul#local-pages
        %li.current=link_to "Personal Info", new_person_path
        %li=link_to "Pen Names", "#", :disabled => "true"
        %li=link_to "Group Memberships", "#", :disabled => "true"
        %li=link_to "Manage Contributorships", "#", :disabled => "true"
        %li=link_to "Photo", "#", :disabled => "true"

    - elsif defined?(state) && state == "edit"
      %ul#local-pages
        - # Personal Info
        - if params[:controller] == "people"
          %li.current=link_to "Personal Info", edit_person_path(@person.id)
        - else
          %li=link_to "Personal Info", edit_person_path(@person.id)

        - # Pen Names
        - if params[:controller] == "pen_names"
          %li.current=link_to "Pen Names", new_person_pen_name_path(@person.id)
        - else
          %li=link_to "Pen Names", new_person_pen_name_path(@person.id)

        - # Memberships
        - if params[:controller] == "memberships"
          %li.current=link_to "Group Memberships", new_person_membership_path(@person.id)
        - else
          %li=link_to "Group Memberships", new_person_membership_path(@person.id)

        - # Memberships
        - if params[:controller] == "contributorships"
          %li.current=link_to "Manage Contributorships", {:controller => "contributorships", :action => "index", :params => {"person_id", @person.id}}
        - else
          %li=link_to "Manage Contributorships", {:controller => "contributorships", :action => "index", :params => {"person_id", @person.id}}

        - # Attachements
        - if params[:controller] == "attachments"
          %li.current
            - if @person.image
              =link_to "Photo", edit_person_attachment_path(@person, @person.image)
            - else
              =link_to "Photo", new_person_attachment_path(@person), :params => {"type" => "Image"}
        - else
          %li
            - if @person.image
              =link_to "Photo", edit_person_attachment_path(@person, @person.image)
            - else
              =link_to "Photo", new_person_attachment_path(@person), :params => {"type" => "Image"}
    - else
      %ul#local-pages
        - # People
        - if params[:controller] == "people"
          %li.current=link_to "Home", person_path(@person)
        - else
          %li=link_to "Home", person_path(@person)

        - # Works
        - if params[:controller] == "works"
          %li.current=link_to "Works", person_works_path(@person)
        - else
          %li=link_to "Works", person_works_path(@person)

        - # Groups
        - if params[:controller] == "groups"
          %li.current=link_to "Groups", person_groups_path(@person)
        - else
          %li=link_to "Groups", person_groups_path(@person)


  - if object == "group"
    %ul#local-pages
      - # Group
      - if params[:controller] == "groups"
        %li.current=link_to "Home", group_path(@group)
      - else
        %li=link_to "Home", group_path(@group)
    
      - # Works
      - if params[:controller] == "works"
        %li.current=link_to "Works", group_works_path(@group)
      - else
        %li=link_to "Works", group_works_path(@group)

      - # People
      - if params[:controller] == "people"
        %li.current=link_to "People", group_people_path(@group)
      - else
        %li=link_to "People", group_people_path(@group)