- c = params[:controller]
%ul#local-pages
  %li{give_current_class_if_equal('people', c)}= link_to t('app.home'), person_path(@person)
  %li{give_current_class_if_equal('works', c)}= link_to Work.model_name.human_pl, person_works_path(@person)
  %li{give_current_class_if_equal('groups', c)}= link_to Group.model_name.human_pl, person_groups_path(@person)
