%ul
  %li
    = form.label :import_file, "Upload File:"
    = form.file_field :import_file, :class=>'text'
    - if @person
      = hidden_field_tag :person_id, @person.id

%p.buttons
  = submit_tag "Add Batch", :disable_with => "Importing Batch..."