%div{:class => "vcard span-8"}
  %div{:class => "span-3"}
    - if !o.image_url.empty?
      - # Do nothing
    - else
      %img{:src => "/images/man.jpg"}
  %a{:class => "fn url hide", :href => ""}
    =o.name
  %div{:class => "adr"}
    %span{:class => "work"}
    %div{:class => "street-address"}
      =o.office_address_line_one
    %span{:class => "locality"}
      =o.office_city
    %span{:class => "region"}
      =o.office_state
    %span{:class => "postal-code"}
      =o.office_zip
  - if o.phone
    %div{:class => "tel"}
      %span{:class => "type hide"} Work
      = o.phone
  - if o.email
    %div{:class => "email"}
      %span{:class => "type hide"} Work
      %a{:href => "mailto:#{o.email}"}
        = o.email
    
  