%div{:class => "vcard span-8"}
  %div{:class => "span-4"}
    - if !o.image_url?
      - # Do nothing
      = image_tag(o.image_url, :size => "110x150", :style => "border:2px dashed #CCC; padding:3px;")
    - else
      =image_tag("man.jpg", :style => "border:2px dashed #CCC; padding:3px;")
  %a{:class => "fn url hide", :href => ""}
    =o.name
  %div{:class => "adr"}
    %span{:class => "work"}
    %div{:class => "street-address"}
      =o.office_address_line_one
    %span{:class => "locality"}
      =o.office_city
    %span{:class => "region"}
      =o.office_state
    %span{:class => "postal-code"}
      =o.office_zip
  - if o.phone
    %div{:class => "tel"}
      %span{:class => "type hide"} Work
      = o.phone
  - if o.email
    %div{:class => "email"}
      %span{:class => "type hide"} Work
      %a{:href => "mailto:#{o.email}"}
        = o.email
    
  
