- Work.types.each do |ct|
- label = ct.gsub(/[()\/ ]/, '').constantize.model_name.human
  %li
    -if @person
      = link_to label, new_person_work_path(@person, :klass => ct)
    -else
      = link_to label, new_work_path(:klass => ct)