%ul.actions
  %li= link_to t('app.show'), publisher_path(pub)
  %li= link_to t('app.edit'), edit_publisher_path(pub)
  %li= link_to t('app.destroy'),{:controller=>"publishers", :action=>"destroy", :id=>pub.id}, :confirm => t('app.are_you_sure'), :method => :delete