- form_tag update_multiple_publishers_path, {:method => :put, :id => 'authority'} do
  = hidden_field_tag :pub_ids, params[:pub_ids], :id => 'pub_ids'
  = hidden_field_tag :auth_id, params[:auth_id], :id => 'auth_id'
  = hidden_field_tag :page, params[:page] || '1', :id => 'page'
  = submit_tag "Set Authority", :name => nil, :id => 'authority_button'
