= render 'shared/pub_common/authority_form', :authorities => authorities,
  :submit_url => update_multiple_publishers_path, :page => page,
  :headers => [t('app.title'), t('app.source'), Publication.human_name_pl]
