/ === Publishers === Edit ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    = render :partial => "shared/flash_messages"
      
    %h2 Edit this Publisher
    
    = render :partial => 'form'