/ === Publishers === Edit ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    / Flash notice
    - if flash[:notice]
      %div#flash= flash[:notice]
      
    %h2 Edit this Publisher
    
    = render :partial => 'form'