%div{:class => "column span-24"}
  %div{:class => "column span-16"}
    %h2="Publishers (#{@current_objects.total_entries}) - #{link_to "Add", new_publisher_path}"
    = will_paginate @current_objects
    %ol.publishers
      -@current_objects.each do |publisher|
        %li
          =link_to "#{publisher.name}", publisher_path(publisher)
    
  