%div{:class => "column span-24"}
  %div{:class => "column span-16"}
    %h2="Publishers (#{@current_objects.size}) - #{link_to "Add", new_publisher_path}"
    %ol#alpha-nav.pagination
      - ('a'..'z').each do |alink|
        %li= link_to alink, publishers_path(:page => alink)
    %ol.publishers
      -@current_objects.each do |publisher|
        %li
          =link_to "#{publisher.name}", publisher_path(publisher)
    
  