%ul.actions
  %li=link_to "show", author_string_path(as)
  %li=link_to "edit", edit_author_string_path(as)
  %li=link_to "destroy",{:controller=>"author_strings", :action=>"destroy", :id=>as.id}, :confirm => "Are you sure?", :method => :delete