.warning
  %h3 Actions
  .left= button_to(t('.accept'), user_import_path(current_user, @import, :decision => "accept"), :method => "put")
  .span-1.text-center
    %p
      %strong or
  .left= button_to(t('.reject'), user_import_path(current_user, @import, :decision => "reject"), :method => "put")
  .clear
    %p
      - if @works.blank?
        #{t('.blank')}
      - else
        #{t('.not_blank')}
