.left.span-14.last
  %table.import-review-table
    %thead
      %tr
        %th #{t('app.errors')}
    %tbody
      - if !@errors.empty?
        - @errors.each do |key, value|
          %tr
            %td
              %strong #{key.to_s.humanize}:#{value}
      - else
        %tr
          %td{:colspan => "2"}
            %p #{t('.no_errors')}
