#imported_pen_names.left.span-7
  %h3 #{t('.header')}
  %p #{t('.text')}
  / PenName matches
  .left.append-1
    %ul#import_names.no-padding-or-margin
      -@import.name_string_work_count.sort.inspect
      - @import.name_string_work_count.sort.each do |ns|
        = import_name_string_line(ns, @person)
