%p
  #{I18n.t('imports.matched.matched')}
  %strong#matched_total #{t('imports.matched.matched_total_html', :count => @match_count, :imported_for => imported_for(@import))}
  %strong#remaining_total #{t('imports.matched.remaining_total', :count => @work_batch.size - @match_count)}
