%p
  #{t('.matched')}
  %strong#matched_total #{t('.matched_total', :count => @match_count, :imported_for => imported_for(@import))}
  %strong#remaining_total #{t('.remaining_total', :count => @work_batch.size - @match_count)}
