- @match_count = 0
%tr
  %td{:id => pen_name.name_string.id, :class => "pen_name"}
    = ajax_checkbox_toggle pen_name.name_string, @person, selected, true
    = pen_name.name_string.name
  %td{:id => "pn-#{pen_name.name_string.id}-count", :class => "pen_name_count"} 0
  
