#current_pen_names.left.span-8.append-1
  %table#pen_names.import-review-table
    %thead
      %tr
        %th #{t('.my_names')}
        %th #{t('.works_matched')}
    %tbody#current
      = render :partial => "pen_name", :collection => @person.pen_names, :locals => {:selected => true}

    %tfoot
      %tr
        %td #{t('app.total')}
        %td{:id => "pen_names_count_total"} 0
