<h1>Editing keywording</h1>

<%= error_messages_for :keywording %>

<% form_for(@keywording) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @keywording %> |
<%= link_to 'Back', keywordings_path %>
