/* -------------------------------------------------------------- 
  
   Blueprint CSS Framework Screen Styles
   * Version:   0.6 (21.9.2007)
   * Website:   http://code.google.com/p/blueprintcss/
   See Readme file in this directory for further instructions.
   
-------------------------------------------------------------- */

@import 'lib/reset.css';
@import 'lib/typography.css';
@import 'lib/grid.css';
@import 'lib/forms.css';

/* Plugins:
   Additional functionality can be found in the plugins directory.
   See the readme files for each plugin. Example:
   @import 'plugins/buttons/buttons.css'; */
   
/* See the grid:
   Uncomment the line below to see the grid and baseline. */
.container { background: url(lib/grid.png); }


#header {border-bottom: 3px double #CCC; margin-bottom:2em;}
#footer {border-top: 3px double #CCC; margin-top:2em; padding-top:2em;}

#header a {
	text-decoration:none;
}

.header-search-form {display:inline;}

ul.actions li {
	display:inline;
}

ul.global-nav li {
	display:inline;
	padding-right: 1em;
}

.formError{
	display:inline;
	padding:1em;
	margin:1em;
	color:red;
}
.fieldWithErrors{
	display:inline;
	border:1px solid red;
	padding:1em;
	margin:1em;
}
.submit{
	margin-top:2em;
}

.citation-journal_article .publication{font-style:italic;}
.citation-journal_article .volume{font-style:italic;}
.citation_book .title{font-style:italic;}

/* Pagination */
.pagination {
  padding: 3px;
  margin: 3px;
}
.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #aaaadd;
  text-decoration: none;
  color: #000099;
}
.pagination a:hover, .pagination a:active {
  border: 1px solid #000099;
  color: #000;
}
.pagination span.current {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #000099;
  font-weight: bold;
  background-color: #000099;
  color: #FFF;
}
.pagination span.disabled {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: 1px solid #eee;
  color: #ddd;
}

.citations {
	padding-top:1em;
}

tr.selected {
	background-color:#FFFF99;
}