- if flash[:notice]
  %div#flash= flash[:notice]

%ul#error_list

%h3 Attach a File to a Citation

- form_for :file, :url => {:action => "create"}, :html => {:multipart => :true} do |form|
  = render :partial => "shared/file_upload", :locals => { :form => form }
  = hidden_field_tag :citation_id, citation.id