production:
  host: ldap.example.com
  port: 389
  base: dc=example,dc=com

development:
  host: ldap.example.com
  port: 389
  base: dc=example,dc=com

test:
  host: ldap.example.com
  port: 389
  base: dc=example,dc=com
