####
# Personalization Globals
####

# Name & base URL of your BibApp Application
$APPLICATION_NAME            = "UW BibApp"
$APPLICATION_URL             = "http://localhost:3000/"

# Name of your University and University URL
$UNIVERSITY_FULL_NAME        = "University of Wisconsin - Madison" 
$UNIVERSITY_SHORT_NAME       = "UW-Madison"
$UNIVERSITY_URL              = "http://wisc.edu"

# Name of your University Library and Library URL
$LIBRARY_NAME                = "Wendt Library"
$LIBRARY_URL                 = "http://wendt.library.wisc.edu"

# Default Address information for all people in BibApp
$DEFAULT_STATE               = "WI"
$DEFAULT_CITY                = "Madison"
$DEFUALT_ZIP_CODE            = "53706"

# Full Address / Contact infor of Unit running BibApp
$UNIVERSITY_FULL_ADDRESS     = "215 N. Randall Avenue Madison, WI 53706-1494 | Phone: 608.890.0787"

# Name of your local institutional repository
# (NOT CURRENTLY USED IN BIBAPP 0.7)
#$REPOSITORY_NAME = "Minds@UW"

####
# Linking To Publications
#
# The following two variables are used to 
# find an article in your library's
# database(s) via OpenURL.
#
# The link created by the following variables will
# be of the form $WORK_BASE_URL?$WORK_SUFFIX,
# i.e. the search is done by using 'get.'
#
# $WORK_BASE should be the first part of the URL
# your institution uses to search for Publications/Works
# up to the '?.'
#
# $WORK_SUFFIX can be used as follows.  Any valid
# string of URL characters can be used.  Then use the following
# convensions for the publication itself can be used.
#
# Title =>                      [title]
# Publication year =>           [year]
# issn/isbn =>                  [issn]
# Issue =>                      [issue]
# Volume =>                     [vol]
# First Page of the Publication [fst]
#
# Below is an example of a suffix:
# $WORK_SUFFIX = "id=bibapp&amp;atitle=[title]&amp;date=[year]&amp;issn=[issn]&amp;issue=[issue]&amp;volume=[vol]&amp;spage=[fst]"
####
$WORK_LINK_TEXT          = "Find It"
$WORK_BASE_URL           = "http://sfx.wisconsin.edu/wisc"
$WORK_SUFFIX             = "ctx_enc=info%3Aofi%2Fenc%3AUTF-8&amp;ctx_id=10_1&amp;ctx_tim=2006-5-11T13%3A11%3A1CDT&amp;ctx_ver=Z39.88-2004&amp;res_id=http%3A%2F%2Fsfx.wisconsin.edu%2Fwisc&amp;rft.atitle=[title]&amp;rft.date=[year]&amp;rft.issn=[issn]&amp;rft.issue=[issue]&amp;rft.volume=[vol]&amp;rft.spage=[fst]"

####
# Sherpa Color Explainations
#
# These are the out-of-the-box explanations for each of
# the SHERPA RoMEO "color" rankings for publishers/publications. 
$SHERPA_COLORS = {
  :green    => "Can archive pre-print and post-print",
  :blue     => "Can archive post-print (ie final draft post-refereeing)",
  :yellow   => "Can archive pre-print (ie pre-refereeing)",
  :white    => "Archiving not formally supported",
  :unknown  => "Could not determine from data"
}