/ Authors
- if !c.name_strings.author.empty?
  %span.authors
    - c.name_strings.author.each do |ns|
      %span.author=link_to "#{ns.name}", name_string_path(ns)

/ Year
-if c.publication_date != nil
  %span.year="(#{c.publication_date.year}). "
  
/ Title
%span.title="#{c.title_primary}. "
