%table
  %thead
    %tr
      %td RoMEO<br />Color
      %td Pub Copy<br />Allowed
      %td Name
      %td Publisher
      %td Works

  %tbody
    - @publ_table.each do |row|
      -# Default colors to unknown
      - color = romeo_color(row)
      %tr{:class => color}
        %td=color.capitalize
        %td="yes" if row.pub_copy?
        %td=row.name
        %td=row.pub_name
        %td
          = link_to row.count, person_works_path(@person, "fq[]" => URI.unescape("publication_facet%3A\"#{row.name}\""))