.span-7.prepend-1.last
  #picture.span-6
    %p= render "shared/person_image", :o => @person

  %h3 #{Group.model_name.human_pl} (#{@person.groups.size})
  %ol.groups_alphabetical
    - @person.groups.each do |g|
      %li=link_to "#{g.name}", group_path(g)