/ === Contributorships === Admin ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    %h2="ADMIN::Contributions (#{@unverified.size} unverified)"
    - if @contributorship == nil
      %p Congrats!  Nothing to do here.
    - else
      = render :partial => "shared/work", :locals => {:work => Index.work_to_solr_hash(@contributorship.work)}
      %h4 Keywords
      %p
        - @contributorship.work.keywords.each do |k|
          %span{:id => "keyword-id-#{k.id}"}=k.name
    
      %div{:class => "span-22 prepend-1"}
        %ol#claims
          = render :partial => 'claim', :collection => @claims