/ === Contributorships === Admin ===
/ Main
- include_data_tables
- include_javascript('specific/contributorships/admin')
.span-24
  .span-22.prepend-1
    %h2 Admin: Unverified Contributorships
    - if @people.length == 0
      %p Congratulations! Nothing to do here.
    - else
      %table#people
        %thead
          %tr
            %th Person
            %th.text-center Potential Matches
        %tbody
          - @people.each do |p|
            - person = Person.find(p[0])
            %tr
              %td=link_to person.name, contributorships_path(:person_id=>p[0])
              %td.text-center=p[1].length
