/ === Contributorships === Archivable ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1", :style => "padding-bottom:3em;"}
    %h2="Archival Analysis: #{@person.name}"
    
    -# Default colors to unknown
    - color = "unknown"
    
    %table
      %thead
        %tr
          %td Count
          %td Percentage
          %td Color
          %td Archiving Policy
      %tfoot
        %tr
          %td=@pub_totals
          %td Total
          %td &nbsp;
          %td &nbsp;
      %tbody
        - @pub_table.each do |row|
          - color = row.color.downcase if row.color
          %tr{:class => "#{color}"}
            %td=row.count
            %td="#{((row.count.to_f / @pub_totals.to_f)*100).round}%"
            %td=color.capitalize
            %td=$SHERPA_COLORS[color.downcase.to_sym]


    %h3 Publications
    %table
      %thead
        %tr
          %td Count
          %td Color
          %td Name
          %td Publisher
          
      %tbody
        - @publ_table.each do |row|
          - color = row.color.downcase if row.color
          %tr{:class => "#{color}"}
            %td=row.count
            %td=color.capitalize
            %td=row.name
            %td=row.pub_name