- include_stylesheet('specific/contributorships/archivable')
.span-24
  .span-22.prepend-1.archival-analysis-header
    %h2 #{t('.header_html', :person_link => link_to(@person.display_name, person_path(@person)))}

    = render 'archive_analysis_table'

    %h3 #{Publication.model_name.human}
    = render 'archive_publications_table'
