/ === Roles === New ===
/ Main
%div{:class => "span-24"}
  %div{:class => "span-22 prepend-1"}
    = render :partial => "shared/flash_messages"
    = error_messages_for :role
  
  = render :partial => "form"
    
          