<h1>Editing keyword</h1>

<%= error_messages_for :keyword %>

<% form_for(@keyword) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @keyword %> |
<%= link_to 'Back', keywords_path %>
