%ul.actions
  %li= link_to t('app.show'), name_string_path(ns)
  %li= link_to t('app.edit'), edit_name_string_path(ns)
  %li= link_to t('app.destroy'), {:controller=>"name_strings", :action=>"destroy", :id=>ns.id}, :confirm => t('app.are_you_sure'), :method => :delete