<h1>Listing keywordings</h1>

<table>
  <tr>
  </tr>

<% for keywording in @keywordings %>
  <tr>
    <td><%= link_to 'Show', keywording %></td>
    <td><%= link_to 'Edit', edit_keywording_path(keywording) %></td>
    <td><%= link_to 'Destroy', keywording, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New keywording', new_keywording_path %>
