/* general table stuff */
.dataTables_wrapper table {
  clear: both;
}

/* This is a kludge to make sure that the icon for sorting appears beside the column name.
  It's be slightly less kludgy to do this on a view by view basis, or in some cases to supress
  sorting on certain columns */
.dataTables_wrapper th {
  min-width: 75px;
}

/* sorting icons */
.dataTables_wrapper .sorting:after {
  content: url(/icons/sort.png);
  padding-left: 10px;
}

.dataTables_wrapper .sorting_asc:after {
  content: url(/icons/sort--plus.png);
  padding-left: 10px;
}

.dataTables_wrapper .sorting_desc:after {
  content: url(/icons/sort--minus.png);
  padding-left: 10px;
}

/* number of records box */
.dataTables_wrapper .dataTables_length {
  float: left;
}

/* search (filter) box */
.dataTables_wrapper .dataTables_filter {
  float:right
}

/* info */
.dataTables_info {
  float: left;
}

/* pagination */
.dataTables_paginate {
  float: right;
}

.dataTables_paginate span {
  padding: 0px 5px;
}

.dataTables_paginate .paginate_button {
  text-decoration: underline;
}

.dataTables_paginate .paginate_button:hover {
  cursor: pointer;
}

.dataTables_paginate .paginate_button_disabled {
  text-decoration: none;
}

.dataTables_paginate .paginate_button_disabled:hover {
  cursor: default;
}

.dataTables_paginate .paginate_active {
  text-decoration: none;
}

.dataTables_paginate .paginate_active:hover {
  cursor: default;
}