#content
  - form_tag do
    %p
      %label{ :for => "login" }
        Login
        %br/
      = text_field_tag 'login'
    %p     
      %label{ :for => "password" }
        Password
        %br/
      = password_field_tag 'password'
    %p 
    = submit_tag 'Log in'

    %h4 No account yet?
    %p= link_to "Sign up!", :action => :signup