#content
  %h2 We're still building...
  %p This is a pilot project.  It's bound to break, so tread lightly.  We hope to share it to campus soon, but there's a mountain of work to complete first.

  %h3 Our hopes:
  %ul
    %li A "live" bibliography
    %li EZ import/export of citations
    %li Marketing tools for departments/research centers