-# Used by Auto-Complete functionality
-# Add a single list item to a list, with a link to remove it
-#
-# Required Input Variables:
-#    :ns_id      => name_string ID
-# Optional Input Variables:
-#    :ns_name    => name_string name
-#    :ns_role    => Contributor role (e.g, Author, Editor, etc)

-# Get the contributor roles for this work subklass
- roles = @work.all_contributor_roles

-# Initialize optional input variables
- ns_name ||= ''
- ns_role ||= roles[0] if roles.present?
- ns_role = '' if ns_role.blank?

%li.list_item{:id => "contributor_#{ns_id}", :class => "movable"}
  %select{:id => "contributor_roles[]", :name => "contributor_roles[]"}
    - roles.each do |r|
      %option{:value => r, :selected => selected_if_equal(r, ns_role)}= t_work_role_name(r)

  -#= select :roles, ns_id, roles, {:include_blank => false, :selected => ns_role.to_s }
  = text_field_tag "contributors[]", ns_name, {:class=>'text'}

  = link_to_function t('works.forms.fields.contributor_list_item.remove'), 'remove_enclosing_list_item(this);'
