-# Date Range field
-#
-# Possible Input Variables:
-#    :form     => current form (REQUIRED)
-#    :label    => Label to display (default: Date Range)

-# Initialize optional input variables
- label ||= "Dates"

= form.label :date_range, "#{label}:"
= form.text_field :date_range, :class=>'text'