-# Degree Level field
-#
-# Possible Input Variables:
-#    :form     => current form (REQUIRED)
-#    :label    => Label to display (default: Degree Level)

-# Initialize optional input variables
- label ||= nil
= render 'works/forms/fields/generic_text_field', :form => form, :attribute => :degree_level, :label => label
