-# Form submit buttons
-#  Uses form styles from Blueprint
%p.buttons
  = submit_tag "Save Changes", :disable_with => "Saving...", :class=> "button positive"
  = submit_tag "Cancel", :name => "cancel", :class => "button negative"