-# Identifier field
-#
-# Possible Input Variables:
-#    :form     => current form (REQUIRED)
-#    :label    => Label to display (default: Identifier)

-# Initialize optional input variables
- label ||= "Identifier"

= form.label :identifier, "#{label}:"
= form.text_field :identifier, :class=>'text'