= label_tag 'issn_isbn', @work.class.human_attribute_name(:issn_isbn) + ':'

- @publication ||= @work.publication
- issn_isbn = @publication.issn_isbn if @publication
= text_field_tag 'issn_isbn', issn_isbn, :class=>'text mediumbox'