-# ISSN/ISBN field
-#   Defaults to displaying ISSN/ISBN
-#
-# Possible Input Variables:
-#    :isbn         => if true, displays ISBN heading 
-#    :issn         => if true, displays ISSN heading

-# Initialize optional input variables
- isbn ||= false
- issn ||= false

- if isbn
  = label_tag 'issn_isbn', "ISBN:"
- if issn
  = label_tag 'issn_isbn', "ISSN:"
- if !issn and !isbn
  = label_tag 'issn_isbn', "ISSN/ISBN:"

- @publication = @work.publication unless @work.publication.nil?
- issn_isbn = @publication.issn_isbn unless @publication.nil?
= text_field_tag 'issn_isbn', issn_isbn, :class=>'text mediumbox'