-#Add Keywords field, with Auto-Complete
-# Also adds a list of existing Keywords

-# Initialize our list of keywords
-#  Default: use keywords assigned to @work.  
-#  @keywords should only exist if there were errors in saving work
- keywords = @work.keywords if @work.keywords
- kw_s = ""
- keywords.each_with_index do |kw, i|
  - if i < keywords.length
    - kw_s << "#{kw.name}; "
  - else
    - kw_s << kw.name

= label_tag "keywords", "Keyword(s):"
%span{:style=>"color:grey"} When adding multiple keywords, separate them with semicolons (;)<br />
= text_area_tag "keywords", kw_s, :size => "25x10"
