- include_stylesheet('specific/works/fields/common')
-#Add Keywords field, with Auto-Complete
-# Also adds a list of existing Keywords

-# Initialize our list of keywords
-#  Default: use keywords assigned to @work.
-#  @keywords should only exist if there were errors in saving work
- keywords = @work.keywords if @work.keywords
- keywords = @keywords if @keywords

= label_tag "keywords", "Keyword(s):"
%span.instructions
  When adding multiple keywords, separate them with semicolons (;)
  %br
= text_area_tag "keywords", keywords.collect {|k| kw.name}.join('; '), :size => "25x10"
