%ol.form_item_list#editor_name_strings_list
  - editors.each do |editor|
    = render 'works/forms/fields/list_item', :list_type => 'editor_name_strings', :item_id => self_or_id(editor),
      :item_value => self_or_name(editor), :item_class => "movable"
