-# Form submit buttons
-#  Uses form styles from Blueprint
%p.buttons
  = submit_tag t('works.forms.fields.merge_form_buttons.delete_dup'), :class => "button positive"
  = submit_tag t('works.forms.fields.merge_form_buttons.keep_dup'), :class => "button positive"
  = submit_tag t('app.cancel'), :name => "cancel", :class => "button negative"
