-# Publication Date field
%td.duplicate
  = label_tag 'dupe_publication_date', "Publication Date:"
  %br/
  = text_field_tag 'dupe_publication_date', @dupe.publication_date, {:class=>'text', :readonly => 'readonly'}
%td
  = label_tag 'publication_date', "Publication Date:"
  %br/
  = render 'works/metadata/publication_date_select'


