- include_javascript('specific/works/forms/fields/_merge_publication')
%td.duplicate
  = label_tag 'dupe_publication', "Periodical Title:"
  %br/
  = text_field_tag 'dupe_publication', @dupe.publication.try(:name), {:class => 'text', :readonly => 'readonly'}
%td
  -# Publication field with Auto-Complete.
  -# Also includes some special Javascript - c.f. included javascript file
  = label :publication, :name, "Periodical Title:"
  %br/
  - @publication = @work.publication unless @work.publication.nil?
  = text_field_with_auto_complete :publication, :name, {:class=>'text', :size => 40}, {:method => :get, :skip_style => true, :frequency => 0.5, :after_update_element => "populatePubFields"}

