-# ISSN/ISBN field
-#   Defaults to displaying ISSN/ISBN
-#

%td.duplicate
  = label_tag 'dupe_issn_isbn', @dupe.class.human_attribute_name(:issn_isbn) + ':'
  %br/
  = text_field_tag 'dupe_issn_isbn', @dupe.publication.try(:issn_isbn), {:class=>'text mediumbox', :readonly => 'readonly'}
%td
  = label_tag 'issn_isbn', @work.class.human_attribute_name(:issn_isbn) + ':'
  %br/
  = text_field_tag 'issn_isbn', @work.publication.try(:issn_isbn), :class=>'text mediumbox'