-# Start & End page fields
-#
-# Possible Input Variables:
-#    :form         => current form (REQUIRED)


= form.label :start_page, "Start Page:"
= form.text_field :start_page, :class=>'text smallbox'