-# Start & End page fields
-#
-# Possible Input Variables:
-#    :form     => current form (REQUIRED)
-#    :label    => Label to diplay (default: End Page)

= form.label :end_page, "#{label}:", :class => 'inline_label'
= form.text_field :end_page, :class=>'text smallbox'
