-# Start & End page fields
-#
-# Possible Input Variables:
-#    :form         => current form (REQUIRED)
%p
  %label Start Page:
  = form.text_field :start_page, :class=>'text smallbox'
  %label End Page:
  = form.text_field :end_page, :class=>'text smallbox'