-# Publication Title field
-#
-# Possible Input Variables:
-#    :label    => Label to diplay (default: Publication Title)

-# Initialize optional input variables
- label ||= "Publication Title"

= label 'publication', 'name', "#{label}:"
- @publication = @work.publication unless @work.publication.nil?
= text_field_with_auto_complete 'publication', 'name', {:class=>'text', :size => 40}, {:method => :get, :skip_style => true, :frequency => 0.5, :after_update_element => "populatePubFields"}
  