-# Publication Date field
-#
-# Possible Input Variables:
-#    :label    => Label to display (default: Publication Date)

- label ||= "Publication Date"

= label 'work', 'publication_date', "#{label}:"

= render 'works/metadata/publication_date_select'