-# Publication Place field
-#
-# Possible Input Variables:
-#    :form     => current form (REQUIRED)
-#    :label    => Label to display (default: Publication City)

-# Initialize optional input variables
- label ||= "Publication City"

= form.label :publication_place, "#{label}:"
= form.text_field :publication_place, :class=>'text'