- @publisher ||= @work.publisher
= label 'publisher', :name, "#{@work.class.human_attribute_name(:publisher)}:"
= text_field_with_auto_complete 'publisher', :name, {:class=>'text', :size => 40}, {:method => :get, :skip_style => true, :frequency => 0.5}
