-# Confirmation message that a list was reordered
- if list_type=="author_name_strings"
  ="Successfully updated order of authors!"
- elsif list_type=="editor_name_strings"
  ="Successfully updated order of editors!"
- else
  ="Successfully updated order of list!"