-# Sponsor field
-#
-# Possible Input Variables:
-#    :form     => current form (REQUIRED)
-#    :label    => Label to display (default: Sponsor)

-# Initialize optional input variables
- label ||= nil
= render 'works/forms/fields/generic_text_field', :form => form, :attribute => :sponsor, :label => label
