-#Add tags field, with Auto-Complete
-# Also adds a list of existing tags
#tag_field
  %label Tag(s):
  = text_field_with_auto_complete :tag, :name, {:class=>'text'}, {:method => :get, :skip_style => true, :frequency => 0.5} 
  = link_to_remote "Add Tag to List", :url => { :action => :add_item_to_list}, :condition => "$('tag_name').value.length > 0", :with => "'item_name=tags&item_value='+$F('tag_name')+'&clear_field=tag_name'"
  %ul.form_item_list#tags_list
    - if @tags
      - @tags.each do |name|
        = render :partial => 'works/forms/fields/list_item', :locals => {:item_name => 'tags', :item_value => name, :selected => true}
    - elsif @work.tags
      - @work.tags.each do |tg|
        = render :partial => 'works/forms/fields/list_item', :locals => {:item_name => 'tags', :item_value => tg.name, :selected => true}