-# Title (Primary) field
-#
-# Possible Input Variables:
-#    :form     => current form (REQUIRED)
-#    :label    => Label to diplay (default: Primary Title)

-# Initialize optional input variables
- label ||= "Primary Title"
  
%p
  %label="#{label}*:"
  = form.text_field :title_primary, :class=>'text'