- include_stylesheet('specific/works/fields/common')
-# Title (Primary) field
-#
-# Possible Input Variables:
-#    :form     => current form (REQUIRED)
-#    :label    => Label to display (default: Title)

-# Initialize optional input variables
- label ||= t('app.title')

= form.label :title_primary, "#{label} <span class='instructions'>(required)</span>:".html_safe
= form.text_field :title_primary, :class=>'text'
= error_for 'work', 'title_primary'
