-# Volume & Issue fields
-#
-# Possible Input Variables:
-#    :form         => current form (REQUIRED)
%p
  %label Volume:
  = form.text_field :volume, :class=>'text smallbox'
  %label Issue:
  = form.text_field :issue, :class=>'text smallbox'