-# Volume & Issue fields
-#
-# Possible Input Variables:
-#    :form         => current form (REQUIRED)


= form.label :volume, "Volume:"
= form.text_field :volume, :class=>'text smallbox'

= form.label :issue, "Issue:", :class => 'inline_label'
= form.text_field :issue, :class=>'text smallbox'