- if $DISPLAY_ABSTRACTS_AND_KEYWORDS
  = render 'works/metadata/generic_field', :field => :abstract
  - unless @work.keywords.blank?
    %tr
      %td.label #{Keyword.model_name.human_pl}:
      %td
        #{@work.keywords.collect {|kw| kw.name}.join('; ')}
