-# must pass field parameter. May pass label parameter, otherwise computed from field
-# for i18n we'll want to take the field name from the model translations here instead
- label ||= @work.class.human_attribute_name(field)
- if @work.send(field).present?
  %tr
    %td.label #{label}:
    %td #{@work.send(field)}