= select :work, :publication_date_year, (1850..(Time.now.year + 1)).to_a.reverse, :include_blank => true
= select :work, :publication_date_month, (1..12).to_a.collect{|i| [I18n.t('date.month_names')[i], i]}, :include_blank => true
= select :work, :publication_date_day, (1..31).to_a, :include_blank => true