- unless @work.publication.nil? or @work.publication.name.blank?
  %tr
    %td.label #{publication_label(@work)}:
    %td
      = link_to @work.publication.name, publication_path(@work.publication.id)