%h2 U of I NetID and password Login
%p
  %span.inline-shib-login-link #{link_to 'Click here', '/auth/shibboleth'}
  to login with your University of Illinois NetID and password via our Shibboleth server. If you
  do not already have a Connections account one will be created for you automatically!
